:root {
    --primary: #006FC9;
    --gray: #999;
    --light-gray: #bfbfbf;
    --light: #f5f5f5;
    --white: #FFF;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body {
    background: url('../images/bg-1.svg') no-repeat;
    background-size: cover;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}
.container{
    background: var(--white);
    border-radius: 0.58rem;
    padding: 1.875rem 0;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
    margin: 1.5rem;
}
.task-input {
    height: 3.2rem;
    padding: 0 1.33rem;
    position: relative;
}
.task-input img {
    position: absolute;
    top: 50%;
    transform: translate(0.7rem, -50%);
}
.task-input input{
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 1.025rem;
    border-radius: 0.24rem;
    padding: 0 3rem 0.2rem;
    border: 1px solid var(--gray);
}

.task-input input::placeholder{
    color: var(--light-gray);
}

.control{
    padding: 1.025rem 1.3rem;
    border-bottom: 1px solid #ccc;
    flex-wrap: wrap;
}
.control, li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.filter{
    cursor: pointer;
    margin: 0 0.52rem;
    font-size: 1rem;
}
.filter span{
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1rem;
}
.filter span:first-child{
    margin-left: 0;

}
.filter span.active{
    color: var(--primary);
}
.control .btn-clear{
    border: none;
    outline: none;
    background: var(--primary);
    color: var(--white);
    padding: 0.36rem;
    border-radius: 0.4rem;
    font-size: 0.875rem;
    cursor: pointer;
    transition: background 0.2s ease;
}

@media only screen and (max-width: 600px){

}
.control .btn-clear:hover{
    background: #00AAFF;
}
.task-box{
    margin: 1.25rem 1.3rem;

}

.task-box .task{
    list-style: none;
    font-size: 1.01rem;
    margin-top: 1.02rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #ccc;
}
.task-box .task:last-child{
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 0;
}

.task label{
    display: flex;
}
.task label p.checked{
    text-decoration: line-through;
    color: var(--gray);
}
.task label input{
    margin-top: 0.35rem;
    margin-right: 0.58rem;
}

.task .settings {
    cursor: pointer;
    position: relative;
}
.settings i{
    margin-left: 0.5rem;
}
.settings .task-menu{
    position: absolute;
    z-index: 99;
    padding: 0.3rem 0;
    right: -0.3rem;
    bottom: -4.2rem;
    transform: scale(0);
    transform-origin: top right;
    transition: transform 0.2s ease;
    border-radius: 0.2rem;
    background: var(--white);
    box-shadow: 0 0 0.32rem rgba(0, 0, 0, 0.15);
}
.settings .task-menu.show{
    transform: scale(1);
}
.task-menu li {
    height: 1.3rem;
    font-size: 1rem;
    margin-bottom: 2px;
    padding: 1.001rem 0.98rem;
    justify-content: flex-start;
}
.task-menu li:last-child{
    margin-bottom: 0;
}
.task-menu li:hover{
    background: var(--light);
}
.task-menu li i{
    padding-right: 0.5rem;
}